{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}class="work-page"{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
<!-- Your custom styles can go here if not in a separate CSS file -->
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5"> <!-- Added mb-5 for margin-bottom -->
        <h3 class="text-left text-black"><strong>{{ title }}</strong></h3>
        <h3 class="text-left text-black"><strong>{{ content |linebreaks }}</strong></h3>
</div>
{% endblock %}

